
     <mdb-navbar id="nav" SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <mdb-navbar-brand>
          <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>YBH</strong></a>
        </mdb-navbar-brand>
        <links>
          <ul class="navbar-nav mr-auto" *ngIf="!(logged())">
            <li class="nav-item  waves-light"  mdbWavesEffect>
              <a class="nav-link" routerLink="../registre" >Registre</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="../signIn">Sign in</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto" *ngIf=" (logged()) && auth?.connectedUser?.role=='Client';">
          <li class="nav-item waves-light"  mdbWavesEffect>
            <a class="nav-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item  waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="../reclamationC">Mes réclamations</a>
          </li>
          <li class="nav-item  waves-light"   mdbWavesEffect>
            <a class="nav-link" routerLink="../chatC">contacter Conseiller</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto" *ngIf=" (logged()) && ( auth?.connectedUser?.role=='Conseiller');">
         
          <li class="nav-item  waves-light"   mdbWavesEffect>
            <a class="nav-link" routerLink="../chat">Messaging</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto" *ngIf=" (logged()) && ( auth?.connectedUser?.role=='admin');">
          <li class="nav-item  waves-light"  mdbWavesEffect>
            <a class="nav-link" routerLink="../config">ConfigurationAdmin</a>
          </li>
          <li class="nav-item  waves-light"   mdbWavesEffect>
            <a class="nav-link" routerLink="../reclamationA">AllRéclamations(A)</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto" *ngIf=" (logged()) && ( auth?.connectedUser?.role=='Chef-Back');">
          <li class="nav-item  waves-light"  mdbWavesEffect>
            <a class="nav-link" routerLink="../config">ConfigurationAdmin</a>
          </li>
          <li class="nav-item  waves-light"   mdbWavesEffect>
            <a class="nav-link" routerLink="../reclamationA">AllRéclamations(A)</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto" *ngIf=" (logged()) && ( auth?.connectedUser?.role=='Chef-Front');">
          <li class="nav-item  waves-light"  mdbWavesEffect>
            <a class="nav-link" routerLink="../config">ConfigurationAdmin</a>
          </li>
          <li class="nav-item  waves-light"   mdbWavesEffect>
            <a class="nav-link" routerLink="../reclamationA">AllRéclamations(A)</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto" *ngIf=" (logged()) && (auth?.connectedUser?.role=='Chef-Back' || auth?.connectedUser?.role=='Chef-Front' ||  auth?.connectedUser?.role=='Tech-Back'|| auth?.connectedUser?.role=='Tech-Front');">
          <li class="nav-item  waves-light"  mdbWavesEffect>
            <a class="nav-link" routerLink="../admin">Traitement des PV</a>
          </li>
        </ul>
          <div class="form-inline">
            <div class="md-form my-0">
                <ul class="navbar-nav mr-auto" *ngIf="logged()">
                   
              <li class="nav-item  waves-light"mdbWavesEffect>
        
                <a class="nav-link" routerLink="../profil">
                  <mdb-icon fas icon="user" ></mdb-icon>Mon Profil</a>
                </li>
                
                    <li class="nav-item  waves-light"  mdbWavesEffect>
                        <a class="nav-link" routerLink="../signIn" (click)="loggout()">
              <i class="fas fa-power-off"></i>LogOut
             </a>
            </li>
           
          </ul>
          </div>
          </div>
        </links>
   
      </mdb-navbar>
      