 <!-- Full Page Intro -->
 <div  style="background-image: url('../assets/images/bbb.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
     <!-- Mask & flexbox options-->
     <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
       <!-- Content -->
       <div class="container"  >
         <!--Grid row-->
         <div class="row mt-5" >
           <!--Grid column-->
           <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left" >
             <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Mon Profil </h1>
             <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
             <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s">BONJOUR {{connect.prenom}} {{connect.nom}}</h6>
             <a mdbBtn color="white" outline="true" mdbWavesEffect class="wow fadeInLeft" data-wow-delay="0.3s" routerLink="../reclamationC" *ngIf="connect.role=='Client';">Mes réclamations</a>
             <a mdbBtn color="white" outline="true" mdbWavesEffect class="wow fadeInLeft" data-wow-delay="0.3s" routerLink="../reclamationA" *ngIf="connect.role=='admin' || connect.role=='Chef-Back'|| connect.role=='Chef-Front' ;">Mes réclamations</a>
             <a mdbBtn color="white" outline="true" mdbWavesEffect class="wow fadeInLeft" data-wow-delay="0.3s" routerLink="../admin" *ngIf="connect.role=='Tech-Back' || connect.role=='Tech-Front' ">Mes réclamations</a>

          
            </div>
           <!--Grid column-->
           <!--Grid column-->
           <div class="col-md-6 col-xl-5 mb-4">
             <!--Form-->
             <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
               <mdb-card-body>
                 <!--Header-->
                 <div class="text-center">
                   <h3 class="white-text">
                     <mdb-icon fas icon="user" class="white-text"></mdb-icon> Mon Profil:</h3>
                   <hr class="hr-light">
                 </div>
                 <!--Body-->
                 <form >
                    <!-- <img src="connect.image" height="200" width="200"  class="rounded-circle">-->

                    <div class="Form-group">
                        <label  class="text-white">ID</label>
                       
                              <p>{{connect.id_user}}</p>
                      </div>
                         <div class="Form-group">
                   <label  class="text-white">Nom & Prenom</label>
                  
                         <p>{{connect.nom}}  {{connect.prenom}}</p>
                

                 </div>
                 
                 <div class="Form-group">
                  <label  class="text-white">Email</label>

                        <p>{{connect.email}}</p>
                </div>
               <div class="Form-group">
                   <label  class="text-white">Tel</label>

                         <p>{{connect.tel}}</p>
                  
                 </div>
                
                  <div class="Form-group">
                   <label  class="text-white">Username</label>
                   
                         <p>{{connect.username}}</p>
                
                 </div>
                
                 <div class="Form-group">
                 
                   <label  class="text-white">Rôle</label>
                 
                         <p>{{connect.role}}</p>
                  
                 </div>
                 <div class="md-form">
                    <mdb-icon fas icon="lock" class="prefix text-white active"></mdb-icon>
                    <input type="password" id="form41" class="text-white form-control"  style="color:white" [(formControl)]="password" name="password" mdbInput placeholder="voulez vs modifier votre password?">
                    <label for="form1" class="text-white">Your password</label>
                  </div>
                  <div class="text-center mt-4">
                      <button mdbBtn color="indigo" mdbWavesEffect  (click)="modifier()">Modifier password</button>
                      </div>
               </form>
               </mdb-card-body>
             </mdb-card>
             <!--/.Form-->
           </div>
           <!--Grid column-->
         </div>
         <!--Grid row-->
       </div>
       <!-- Content -->
     </div>
     <!-- Mask & flexbox options-->
   </div>
   <!-- Full Page Intro -->
 