<div  style="background-image: url('../assets/images/bbb.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row mt-5">
          <!--Grid column-->
          <div class="col-md-12  white-text text-center text-md-center">
            <h1 class="h1-responsive font-weight-bold wow fadeInCenter" data-wow-delay="0.3s">Tout les réclamations</h1>
            <hr class="hr-light wow fadeInCenter" data-wow-delay="0.3s">
            <div class="row">
            <div class="col-md-8  white-text text-left" style="padding-left:15%;">
                        
                                    <div class="btn-group" mdbDropdown>
                                            <button mdbDropdownToggle type="button" mdbBtn color="info" class="dropdown-toggle waves-light" mdbWavesEffect>
                                                    Etat
                                            </button>
                                    
                                            <div class="dropdown-menu dropdown-primary">
                                                <a class="dropdown-item"  (click)="setEtat('Initial')">Initial</a>
                                                <a class="dropdown-item" (click)="setEtat('En cours')">En cours</a>
                                                <a class="dropdown-item" (click)="setEtat('Traitee')">Traitée</a>
                                            </div>
                                        </div>
                                        <div class="btn-group" mdbDropdown>
                                                <button mdbDropdownToggle type="button" mdbBtn color="info" class="dropdown-toggle waves-light" mdbWavesEffect>
                                                        Niveau
                                                </button>
                                        
                                                <div class="dropdown-menu dropdown-primary">
                                                    <a class="dropdown-item" (click)="setNiveau('Faible')">faible</a>
                                                    <a class="dropdown-item" (click)="setNiveau('Moyen')">Moyen</a>
                                                    <a class="dropdown-item" (click)="setNiveau('Elevee')">Elevée</a>
                                                </div>
                                            </div>
            </div>
            <div class="col-md-4  white-text text-right" style="padding-right: 8%;">
                                <button mdbBtn type="button" gradient="purple" size="sm" mdbWavesEffect routerLink="../admin" *ngIf="connect.role !='admin'">Traiter une reclamation</button>
                            </div>
        </div>
    </div>
        
          <!--Grid column-->
          <div class="row" *ngIf="connect.role=='admin';">
          <div class="col-md-12  white-text text-center text-md-center" >
            <div class="container" >
               
               
                <!--Table-->
               <table class="table table-striped w-auto  white-text">
  
          <!--Table head-->
          <thead>
              <tr>
                  <th>#</th>
                  <th>ID</th>
                  <th>Type</th>
                  <th>Niveau</th>
                  <th>Description</th>
                  <th>Etat</th>
                  <th>ID Client</th>
                  <th>Nom Client</th>
                  <th>Prénom Client</th>
                  <th>Tél Client</th>
                  <th>Réponse</th>

              </tr>
          </thead>
          <!--Table head-->
      
          <!--Table body-->
          <tbody>
              <tr class="table-info" *ngFor="let feed of filteredAll ;let i = index;">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{feed.id_rec}}</td>
                  <td>{{feed.type}}</td>
                  <td>{{feed.niveau}}</td>
                  <td>{{feed.description}}</td>
                  <td>{{feed.etat}}</td>
                  <td>{{feed.client.id_user}}</td>
                  <td>{{feed.client.nom}}</td>
                  <td>{{feed.client.prenom}}</td>
                  <td>{{feed.client.tel}}</td>
                  <td>{{feed.reponse}}</td>


              </tr>
             
          </tbody>
          <!--Table body-->
      
      
      </table>
      <!--Table-->
            </div>
          </div>
          </div>
          <div class="row" *ngIf="connect.role=='Chef-Front';" >
              <div class="col-md-8">
            <div class="container" >
               
               
              <!--Table-->
             <table class="table table-striped w-auto  white-text">

        <!--Table head-->
        <thead>
            <tr>
                    <th>#</th>
                <th>ID</th>
                <th>Type</th>
                <th>Niveau</th>
                <th>Description</th>
                <th>Etat</th>
                <th>ID Client</th>
               
                <th>Réponse</th>

            </tr>
        </thead>
        <!--Table head-->
    
        <!--Table body-->
        <tbody>
            <tr class="table-info" *ngFor="let front of filteredFronts; let i = index;">
                    <th scope="row">{{i + 1}}</th>
                    <td>  {{front.id_rec}}</td>
                <td>{{front.type}}</td>
                <td>{{front.niveau}}</td>
                <td>{{front.description}}</td>
                <td>{{front.etat}}</td>
                <td>{{front.client.id_user}}</td>
            
                <td>{{front.reponse}}</td>


            </tr>
           
        </tbody>
        <!--Table body-->
    
    
    </table>
    <!--Table-->
          </div>
        </div>
        <div class="col-md-4">
               
                      <div class="container">
                    <div class="text-center">
                        <h3 class="white-text">
                          <mdb-icon fas icon="user" class="white-text"></mdb-icon> affecter un tech à une reclamation :</h3>
                        <hr class="hr-light">
                      </div>
                      <!--Body-->
                      <form class="text-left">
                          <div class="form-group">
                              <label for="niveau" class="text-white">ID réclamation:</label>
                              <select [(formControl)]="id_recf" name="id_recf"  id="id_recf" class="browser-default custom-select mb-4"  >
                              <option value="" disabled>Choose id_rec</option>
                              <option [value]="front.id_rec" *ngFor="let front of fronts;">{{front.id_rec}}</option>   
                            </select>
                            </div>
                      <div class="form-group">
                        <label for="niveau" class="text-white">ID Tech-Front</label>
                        <select [(formControl)]="id_tech_front" name="id_tech_front"  id="id_tech_front" class="browser-default custom-select mb-4" >
                        <option value="" disabled>Choose tech</option>
                        <option [value]="techf.id_user"  *ngFor="let techf of techfront;">id:{{techf.id_user}} nom:{{techf.nom}} prenom:{{techf.prenom}}</option>
                       
                    </select>
                    </div>
                      <div class="text-center mt-4">
                        <button mdbBtn color="indigo" mdbWavesEffect  (click)="affecterTechF()">Affecter</button>
                        
                      </div>
                    </form>
                    </div>
                    
        </div>
          </div>
          <div class="row" *ngIf="connect.role=='Chef-Back' ;" >
          <div class="col-md-8">
          <div class="container" >
               
               
            <!--Table-->
           <table class="table table-striped w-auto  white-text">

      <!--Table head-->
      <thead>
          <tr>
                <th>#</th>
              <th>ID</th>
              <th>Type</th>
              <th>Niveau</th>
              <th>Description</th>
              <th>Etat</th>
              <th>ID Client</th>
           
              <th>Réponse</th>

          </tr>
      </thead>
      <!--Table head-->
  
      <!--Table body-->
      <tbody>
          <tr class="table-info" *ngFor="let back of filteredBacks; let i=index;">
                <th scope="row">{{i + 1}}</th>
                <td> {{back.id_rec}}</td>
              <td>{{back.type}}</td>
              <td>{{back.niveau}}</td>
              <td>{{back.description}}</td>
              <td>{{back.etat}}</td>
              <td>{{back.client.id_user}}</td>
            
              <td>{{back.reponse}}</td>


          </tr>
         
      </tbody>
      <!--Table body-->
  
  
  </table>
  <!--Table-->
        </div>
          </div>
          <div class="col-md-4">
              
                      <div class="container">
                    <div class="text-center">
                        <h3 class="white-text">
                          <mdb-icon fas icon="user" class="white-text"></mdb-icon> Affecter un tech à une reclamation:</h3>
          
                        <hr class="hr-light">
                      </div>
                      <!--Body-->
                      <form class="text-left">
                          <div class="form-group">
                              <label for="niveau" class="text-white">ID réclamation:</label>
                              <select [(formControl)]="id_recb" name="id_recb"  id="id_recb" class="browser-default custom-select mb-4" >
                              <option value="" disabled>Choose id_rec</option>
                              <option [value]="back.id_rec" *ngFor="let back of backs;">{{back.id_rec}}</option>
                             
                          </select>
                      </div>
                      
                      <div class="form-group">
                        <label for="niveau" class="text-white">ID Tech-Back</label>
                        <select [(formControl)]="id_tech_back" name="id_tech_back"  id="id_tech_back" class="browser-default custom-select mb-4"  >
                        <option value="" disabled>Choose tech</option>
                        <option [value]="techb.id_user" *ngFor="let techb of techback;">id:{{techb.id_user}} nom:{{techb.nom}} prenom:{{techb.prenom}}</option>
                       
                    </select>
                </div>
                      <div class="text-center mt-4">
                        <button mdbBtn color="indigo" mdbWavesEffect  (click)="affecterTechB()">Affecter</button>
                        
                      </div>
                    </form>
                 </div>
          
          </div>
          </div>


        
         
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->