
      

    <!-- 
<footer class="page-footer font-small cyan darken-3 text-center">

    <div class="container">

      <div class="row">

        <div class="col-md-12 ">
          <div class="mb-5 flex-center">

            <a class="fb-ic">
              <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3" ></mdb-icon>
            </a>
            <a class="tw-ic">
                <mdb-icon fab icon="gitlab" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
           
            <a class="li-ic">
                <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <a class="ins-ic">
                <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
           
          </div>
        </div>

      </div>
    
    <div class="page-footer font-small cyan darken-3 text-center">
        <p >Made with <i class="fa fa-heart heart"></i> by <a href="#">YBH</a></p>

      © 2019 Copyright:
      <a href=""> Five Points The Talents Pool</a>
    </div>
    </div>

   
    
  </footer>
  -->