
        <div  style="background-image: url('../assets/images/bbb.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
          <!-- Mask & flexbox options-->
          <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container">
              <!--Grid row-->
              <div class="row mt-5">
                <!--Grid column-->
                <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
                  <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Sign in right now! </h1>
                  <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                  <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s">YBH est une application dynamique de gestions des réclamations et des interventions des clients, ainsi que la gestion des tâches et des relations héarchiques des administrateurs techniques du site.</h6>
                  
                </div>
                <!--Grid column-->
                <!--Grid column-->

                <div class="col-md-6 col-xl-5 mb-4">
                  <!--Form-->
                  <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                    <mdb-card-body>
                      <!--Header-->
                      <div class="text-center">
                        <h3 class="white-text">
                          <mdb-icon fas icon="user" class="white-text"></mdb-icon> Sign In:</h3>
                        <hr class="hr-light">
                      </div>
                      <!--Body-->
                      <form  [formGroup]="SignForm">
                        
                      <div class="md-form">
                        <mdb-icon fas icon="user" class="prefix white-text active"></mdb-icon>
                        <input type="text" id="form6" class="text-white form-control" mdbInput  [(formControl)]="username" name="username">
                        <label for="form6" class="text-white">Username</label>
                      </div>
                      <div class="md-form">
                        <mdb-icon fas icon="lock" class="prefix text-white active"></mdb-icon>
                        <input type="password" id="form1" class="text-white form-control" mdbInput>
                        <label for="form1" class="text-white">Your password</label>
                      </div>
                      <div class="text-center mt-4">
                        <button mdbBtn color="indigo" mdbWavesEffect  (click)="sign()">Sign in</button>
                        <hr class="hr-light mb-3 mt-4">
                        <div class="inline-ul text-center d-flex justify-content-center">
                            <p>Not a member?
                                <a routerLink="../registre">Registre</a>
                              </p>
                        </div>
                      </div>
                    </form>
                    </mdb-card-body>
                  </mdb-card>
                  <!--/.Form-->
                </div>
              </div>
              <!--Grid row-->
            </div>
            <!-- Content -->

          </div>
          

          <!-- Mask & flexbox options-->
        </div>
        <!-- Full Page Intro -->
      