
 
  <!-- Full Page Intro -->
  <div  style="background-image: url('../assets/images/bbb.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row mt-5">
          <!--Grid column-->
          <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
            <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Registre! </h1>
            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
            <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s">YBH est une application dynamique de gestions des réclamations et des interventions des clients, ainsi que la gestion des tâches et des relations héarchiques des administrateurs techniques du site.</h6>
            
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mb-4">
            <!--Form-->
            <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
              <mdb-card-body>
                <!--Header-->
                <div class="text-center">
                  <h3 class="white-text">
                    <mdb-icon fas icon="user" class="white-text"></mdb-icon> Registre:</h3>
                  <hr class="hr-light">
                </div>
                <!--Body-->
                <form >
                   <!--  <div class="md-form">

                  <img [src]="imageUrl" height="200" width="200"  class="rounded-circle">
                  <input type="file" #Image accept="image/*" [(formControl)]="image" name="image" (change)="handleFileInput($event.target.files)">
                    </div> -->
                  <div class="md-form">
                  <mdb-icon fas icon="user" class="prefix white-text active"></mdb-icon>
                  <input type="text" id="form3" class="text-white form-control" mdbInput  [(formControl)]="nom" name ="nom">
                  <label for="form3" class="text-white">Nom</label>
                </div>
                <div class="md-form">
                  <mdb-icon fas icon="user" class="prefix white-text active"></mdb-icon>
                  <input type="text" id="form4" class="text-white form-control" mdbInput  [(formControl)]="prenom" name="prenom">
                  <label for="form4" class="text-white">Prenom</label>
                </div>
                
                <div class="md-form">
                  <mdb-icon fas icon="envelope" class="prefix white-text active"></mdb-icon>
                  <input type="email" id="form10" class="text-white form-control" mdbInput  [(formControl)]="email" name="email">
                  <label for="form4" class="text-white">Email</label>
                </div>
                <div class="md-form">
                  <mdb-icon fas icon="phone" class="prefix white-text active"></mdb-icon>
                  <input type="text" id="form5" class="text-white form-control" mdbInput [(formControl)]="tel" name="tel">
                  <label for="form5" class="text-white">Tel</label>
                </div>
                <div class="md-form">
                  <mdb-icon fas icon="user" class="prefix white-text active"></mdb-icon>
                  <input type="text" id="form6" class="text-white form-control" mdbInput  [(formControl)]="username" name="username">
                  <label for="form6" class="text-white">Username</label>
                  
                 
                </div>
                <div class="md-form">
                  <mdb-icon fas icon="lock" class="prefix text-white active"></mdb-icon>
                  <input type="password" id="form1" class="text-white form-control" [(formControl)]="password" name="password" mdbInput>
                  <label for="form1" class="text-white">Your password</label>
                </div>
                <div class="text-center mt-4">
                  <button mdbBtn color="indigo" mdbWavesEffect routerLink="../signIn" (click)="registre()">Registre</button>
                 
                  </div>
                
              </form>
              </mdb-card-body>
            </mdb-card>
            <!--/.Form-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
