<div  style="background-image: url('../assets/images/bbb.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        
          <!--Grid column-->
          <div class="row">
          <div class="col-md-12  white-text text-center text-md-center">
            <h1 class="h1-responsive font-weight-bold wow fadeInCenter" data-wow-delay="0.3s">Configuration</h1>
            <hr class="hr-light wow fadeInCenter" data-wow-delay="0.3s">
        </div>
       
          </div>
          <!--Grid column-->
          <div class="row">
                
              
          <div class="col-md-8  white-text">
               
              
                      <div class="container" *ngIf="connect.role=='admin';">
                              <div class="text-center">
                                  <h3 class="white-text"> Tableaux des Users:</h3>
                                  <hr class="hr-light">
                                </div>
                                <!--Body-->
                                <table class="table table-striped w-auto  white-text">

                                      <!--Table head-->
                                      <thead>
                                          <tr>
                                             
                                            <th>#</th>

                                              <th>ID_user</th>
                                              <th>Nom</th>
                                              <th>Prénom</th>
                                              <th>Username</th>
                                              <th>Tel</th>
                                              <th>Rôle</th>
                                              
                                          </tr>
                                      </thead>
                                      <!--Table head-->
                                  
                                      <!--Table body-->
                                      <tbody>
                                          <tr class="table-info" *ngFor="let user of admins; let i=index;">
                                              <th scope="row">{{i+1}}</th>
                                              <td>{{user.id_user}}</td>
                                              <td>{{user.nom}}</td>
                                              <td>{{user.prenom}}</td>
                                              <td>{{user.username}}</td>
                                              <td>{{user.tel}}</td>
                                              <td>{{user.role}}</td>

                                          </tr>
                                         
                                      </tbody>
                                      <!--Table body-->
                                  
                                  
                                  </table>
                                  <!--Table-->
                  </div>
             

                  <div class="container" *ngIf="connect.role=='Chef-Front';">
                    <div class="text-center">
                        <h3 class="white-text"> Tableaux des Tech-Front:</h3>
                        <hr class="hr-light">
                      </div>
                      <!--Body-->
                      <table class="table table-striped w-auto  white-text">

                            <!--Table head-->
                            <thead>
                                <tr>
                                   
                                  <th>#</th>

                                    <th>ID_user</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Username</th>
                                    <th>Tel</th>
                                    <th>Rôle</th>
                                    
                                </tr>
                            </thead>
                            <!--Table head-->
                        
                            <!--Table body-->
                            <tbody>
                                <tr class="table-info" *ngFor="let front of cheffront; let i= index;">
                                  <th scope="row">{{i+1}}</th>

                                  <td>{{front.id_user}}</td>
                                    <td>{{front.nom}}</td>
                                    <td>{{front.prenom}}</td>
                                    <td>{{front.username}}</td>
                                    <td>{{front.tel}}</td>
                                    <td>{{front.role}}</td>

                                  

                                </tr>
                               
                            </tbody>
                            <!--Table body-->
                        
                        
                        </table>
                        <!--Table-->
        </div>
        <div class="container" *ngIf="connect.role=='Chef-Back';">
          <div class="text-center">
              <h3 class="white-text"> Tableaux des Tech-Back:</h3>
              <hr class="hr-light">
            </div>
            <!--Body-->
            <table class="table table-striped w-auto  white-text">

                  <!--Table head-->
                  <thead>
                      <tr>
                         
                        <th>#</th>

                          <th>ID_user</th>
                          <th>Nom</th>
                          <th>Prénom</th>
                          <th>Username</th>
                          <th>Tel</th>
                          <th>Rôle</th>
                          
                      </tr>
                  </thead>
                  <!--Table head-->
              
                  <!--Table body-->
                  <tbody>
                      <tr class="table-info" *ngFor="let back of chefback; let i=index;">
                          
                        <th scope="row">{{i+1}}</th>
                        <td>{{back.id_user}}</td>
                          <td>{{back.nom}}</td>
                          <td>{{back.prenom}}</td>
                          <td>{{back.username}}</td>
                          <td>{{back.tel}}</td>
                          <td>{{back.role}}</td>

                        

                      </tr>
                     
                  </tbody>
                  <!--Table body-->
              
              
              </table>
              <!--Table-->
</div>

          </div>
         
          <div class="col-md-4  white-text ">
            <div class="container" *ngIf="connect.role=='admin';">
                    <div class="container">
                  <div class="text-center">
                      <h3 class="white-text">
                        <mdb-icon fas icon="user" class="white-text"></mdb-icon> Ajouter des ADMINS:</h3>
                        <h6 style="color: white;">Admin ou Chef-Back/chef-Front ou Tech-Back/Tech-Front</h6>

                      <hr class="hr-light">
                    </div>
                    <!--Body-->
                    <form class="text-left">
                    <div class="md-form">
                      <input type="text" id="form3" class="text-white form-control" mdbInput  [(formControl)]="nom" name ="nom">
                      <label for="form3" class="text-white">Nom</label>
                    </div>
                    <div class="md-form">
                      <input type="text" id="form4" class="text-white form-control" mdbInput  [(formControl)]="prenom" name="prenom">
                      <label for="form4" class="text-white">Prenom</label>
                    </div>
                    <div class="md-form">
                      <mdb-icon fas icon="user" class="prefix white-text active"></mdb-icon>
                      <input type="email" id="form13" class="text-white form-control" mdbInput  [(formControl)]="email" name="email">
                      <label for="form4" class="text-white">Email</label>
                    </div>
                    <div class="md-form">
                      <input type="text" id="form5" class="text-white form-control" mdbInput [(formControl)]="tel" name="tel">
                      <label for="form5" class="text-white">Tel</label>
                    </div>
                    <div class="md-form">
                      <input type="text" id="form6" class="text-white form-control" mdbInput  [(formControl)]="username" name="username">
                      <label for="form6" class="text-white">Username</label>
                    </div>
                    <div class="md-form">
                      <input type="password" id="form1" class="text-white form-control" mdbInput>
                      <label for="form1" class="text-white">password</label>
                    </div>
                    <div class="form-group">
                      <label for="niveau" class="text-white">Rôle</label>
                      <select [(formControl)]="role" name="role"  id="role" class="browser-default custom-select mb-4" >
                      <option value="" disabled>Choose option</option>
                      <option value="Admin" >Admin</option>
                      <option value="Chef-Back">Chef-Back</option>
                      <option value="Chef-Front">Chef-Front</option>
                      <option value="Tech-Front">Tech-Front</option>
                      <option value="Tech-Back">Tech-Back</option>
                  </select>
              </div>
                    <div class="text-center mt-4">
                      <button mdbBtn color="indigo" mdbWavesEffect  (click)="registre()">Ajouter</button>
                      
                    </div>
                  </form>
              </div>
                 
                  </div>



                  <div class="container" *ngIf="connect.role=='Chef-Front';">

                   
                          <div class="container">
                        <div class="text-center">
                            <h3 class="white-text">
                              <mdb-icon fas icon="user" class="white-text"></mdb-icon> Ajouter des Tech-Front:</h3>
                             
      
                            <hr class="hr-light">
                          </div>
                          <!--Body-->
                          <form class="text-left">
                          <div class="md-form">
                            <input type="text" id="form3" class="text-white form-control" mdbInput  [(formControl)]="nom" name ="nom">
                            <label for="form3" class="text-white">Nom</label>
                          </div>
                          <div class="md-form">
                            <input type="text" id="form4" class="text-white form-control" mdbInput  [(formControl)]="prenom" name="prenom">
                            <label for="form4" class="text-white">Prenom</label>
                          </div>
                          <div class="md-form">
                            <mdb-icon fas icon="user" class="prefix white-text active"></mdb-icon>
                            <input type="email" id="form11" class="text-white form-control" mdbInput  [(formControl)]="email" name="email">
                            <label for="form4" class="text-white">Email</label>
                          </div>
                          <div class="md-form">
                            <input type="text" id="form5" class="text-white form-control" mdbInput [(formControl)]="tel" name="tel">
                            <label for="form5" class="text-white">Tel</label>
                          </div>
                          <div class="md-form">
                            <input type="text" id="form6" class="text-white form-control" mdbInput  [(formControl)]="username" name="username">
                            <label for="form6" class="text-white">Username</label>
                          </div>
                          <div class="md-form">
                            <input type="password" id="form1" class="text-white form-control" mdbInput>
                            <label for="form1" class="text-white">password</label>
                          </div>
                          <div class="form-group">
                            <label for="niveau" class="text-white">Rôle</label>
                            <select [(formControl)]="role" name="role"  id="role" class="browser-default custom-select mb-4" >
                            <option value="" disabled>Tech-Front</option>
                            <option value="Tech-Front" >Tech-Front</option>
                           
                        </select>
                    </div>
                          <div class="text-center mt-4">
                            <button mdbBtn color="indigo" mdbWavesEffect  (click)="registre()">Ajouter</button>
                            
                          </div>
                        </form>
                    </div>
                    
                        </div>


                        <div class="container" *ngIf="connect.role=='Chef-Back';">

                         
                                <div class="container">
                              <div class="text-center">
                                  <h3 class="white-text">
                                    <mdb-icon fas icon="user" class="white-text"></mdb-icon> Ajouter des Tech-Back:</h3>
                                   
            
                                  <hr class="hr-light">
                                </div>
                                <!--Body-->
                                <form class="text-left">
                                <div class="md-form">
                                  <input type="text" id="form3" class="text-white form-control" mdbInput  [(formControl)]="nom" name ="nom">
                                  <label for="form3" class="text-white">Nom</label>
                                </div>
                                <div class="md-form">
                                  <input type="text" id="form4" class="text-white form-control" mdbInput  [(formControl)]="prenom" name="prenom">
                                  <label for="form4" class="text-white">Prenom</label>
                                </div>
                                <div class="md-form">
                                  <mdb-icon fas icon="user" class="prefix white-text active"></mdb-icon>
                                  <input type="email" id="form12" class="text-white form-control" mdbInput  [(formControl)]="email" name="email">
                                  <label for="form4" class="text-white">Email</label>
                                </div>
                                <div class="md-form">
                                  <input type="text" id="form5" class="text-white form-control" mdbInput [(formControl)]="tel" name="tel">
                                  <label for="form5" class="text-white">Tel</label>
                                </div>
                                <div class="md-form">
                                  <input type="text" id="form6" class="text-white form-control" mdbInput  [(formControl)]="username" name="username">
                                  <label for="form6" class="text-white">Username</label>
                                </div>
                                <div class="md-form">
                                  <input type="password" id="form1" class="text-white form-control" mdbInput>
                                  <label for="form1" class="text-white">password</label>
                                </div>
                                <div class="form-group">
                                  <label for="niveau" class="text-white">Rôle</label>
                                  <select [(formControl)]="role" name="role"  id="role" class="browser-default custom-select mb-4" >
                                  <option value="Tech-Front" disabled>Choose option</option>
                                  <option value="Tech-Front" >Tech-Back</option>
                                 
                              </select>
                          </div>
                                <div class="text-center mt-4">
                                  <button mdbBtn color="indigo" mdbWavesEffect  (click)="registre()">Ajouter</button>
                                  
                                </div>
                              </form>
                          </div>
                              </div>

                </div>
         
</div>
    <!-- Mask & flexbox options-->
  
  <!-- Full Page Intro -->

      </div>
    </div>
</div>